:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: red;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
/* hiện qr code từ từ */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;

}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}
.modal__body {
    width: 300px;
    height: 300px;
    background-color: var(--white-color);
    margin: auto;
/* background-color var(--white-color)len tren rbga(0,0,0,0.4) */
    position: relative;
    z-index: 1;
    border-radius: 5px;
}
.btn {
    min-width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn.btn--primry {
    color: var(--white-color);
    background-color: var(--primary-color);
}